.popup__input_type_card-link {
    padding: 0 0 14px;
}

@media screen and (max-width: 767px) {
    .popup__input_type_card-link {
        width: 238px;
        margin: 0 auto 29px;
        padding: 0 0 13px;
    }
}