.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    align-self: center;
    margin-left: 18px;
    background-color: black;
    background-image: url(../../../images/edit-button.png);
    background-position: center;
    background-repeat: no-repeat;
}

.profile__edit-button:hover {
    opacity: 0.6;
}