.popup__input-error {
    color: rgba(255, 0, 0, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    min-height: 30px;
    margin: 5px 0 10px;
    display: block;
}