.places {
    max-width: 880px;
    margin: 51px auto 0;
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 581px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 282px;
        margin-top: 36px;
    }
}