.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border: 2px solid #fff;
    align-self: center;
    justify-self: flex-end;
    grid-area: add-button;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        justify-self: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
    }
}